@font-face {
    font-family: 'FuturaNewLight';
    src: url('/fonts/FuturaNewLight.eot');
    src: url('/fonts/FuturaNewLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FuturaNewLight.woff') format('woff'),
    url('/fonts/FuturaNewLight.ttf') format('truetype'),
    url('/fonts/FuturaNewLight.svg#FuturaNewLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: FuturaNewLight;
}

.b-wrapper {
    min-width: 640px;
    background: #a0dcff;
}

.b-main-element {

}

.b-list {
    min-height: 100%;
    text-align: center;
    background: #fff;
}

.b-list-item {
    position: relative;
    width: 250px;
    height: 350px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

.b-list-item_image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;

    /*box-shadow: inset 1px -70px 40px -10px #000, 1px 1px 0px 0 #333, 2px 2px 0px 0 #333, 3px 3px 0px 0 #333, 4px 4px 0px 0 #333, 5px 5px 0px 0 #333, 6px 6px 0px 0 #333, 7px 7px 0px 0 #333, 8px 8px 0px 0 #333, -3px 5px 19px 2px #000;*/
    box-shadow: inset 1px -70px 40px -10px #222, 1px 1px 0px 0 #ccc, 2px 2px 0px 0 #ccc, 3px 3px 0px 0 #ccc, 4px 4px 0px 0 #ccc, 5px 5px 0px 0 #ccc, 6px 6px 0px 0 #ccc, 7px 7px 0px 0 #ccc, 8px 8px 0px 0 #ccc, -3px 5px 19px 2px #ccc;

}

.b-list-item_link {
    position: absolute;
    color: #fff;
    font-size: 24px;
    bottom: 10px;
    width: 80%;
    left: 50%;
    margin-left: -40%;
}

#mainFilm {
    position: fixed;
    min-height: 100%;
    width: 100%;
    box-shadow: inset 0 -10px 15px 6px #000;
    z-index: 5;
    top: 0;
    opacity: 0;

    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

#mainFilm.show {
    opacity: 1;
}

#mainFilm .b-main-item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/cinema-bg.jpg) 0 0 no-repeat;
    background-size: cover;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

    background-color: #000;
    box-shadow: inset 0 0 150px 40px #222;
}

.b-main-item-content {
    position: relative;
}

.b-main-item-back {
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}
